#building {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#conference {
    grid-area: 1 / 1 / 2 / 4;
}

#security {
    grid-area: 1 / 7 / 2 / 9;
}

#serveurs {
    grid-area: 1 / 5 / 2 / 7;
}

#reception {
    grid-area: 2 / 1 / 4 / 4;
}

#personnel {
    grid-area: 3 / 5 / 4 / 7;
}

#archives {
    grid-area: 3 / 7 / 4 / 9;
}

#conference,
#security,
#serveurs,
#reception,
#personnel,
#archives {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
}

#conference {
    background-image: url(../img/conference.jpg);
}

#security {
    background-image: url(../img/security.jpg);
}

#serveurs {
    background-image: url(../img/serveurs.jpg);
}

#reception {
    background-image: url(../img/reception.jpg);
}

#personnel {
    background-image: url(../img/personel.jpg);
}

#archives {
    background-image: url(../img/archives.jpg);
}

#security::after,
#serveurs::after,
#reception::after,
#personnel::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 0, 0, 0.4);
    pointer-events: none;
}

#conference::after,
#archives::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
}

#conference,
#security,
#serveurs,
#reception,
#personnel,
#archives {
    position: relative;
    z-index: 999;
}


@media (min-width: 768px) and (max-width: 1023px) {
    #building {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    #building>div {
        flex: 1 1 calc(50% - 10px);
        height: 220px;
    }
}


@media (min-width: 1024px) and (max-width: 1279px) {
    #building {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    #building>div {
        flex: 1 1 calc(33.33% - 15px);
        height: 250px;
    }
}


@media (max-width: 767px) {
    #building {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    #building>div {
        flex: 1 1 100%;
        height: 200px;
    }
}

@media (max-width: 425px) {
    #building {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
    }

    #building>div {
        width: 100% !important;
        flex: none !important;
        height: 180px !important;
    }
}


.no-after::after {
    content: none !important;
    background: none !important;
}